body {
    background-color: $color-secondary;
}

address {
   a {
        display: block;
        padding: 1rem;
    } 
}

h2 {
    margin-top: 0;
}

h1, h2 {
    padding: 1rem;
}

header {
    height: $portrait-size-large+2*$margin+2*$border-size;
    margin: $margin;
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-areas: "left right";

    figure {
        justify-self: end;
        grid-area: left;
        border: $border-size solid $color-tertiary;
        height: $portrait-size;
        width: $portrait-size;
        margin: $margin;
        box-sizing: border-box;
        border-radius: 50%;
        overflow: hidden;

        img {
            height: $portrait-size;
            width: $portrait-size;
            object-fit: cover;
            object-position: -.8rem -1.5rem;
        }
    }
}

@media screen and (min-width: 1024px) {

    header {
        grid-area: header;
        height: 1rem;

        figure {
            height: $portrait-size-large;
            width: $portrait-size-large;

            img {
                height: $portrait-size-large;
                width: $portrait-size-large;
            }
        }
    }
  }

section {
    border: $border-size solid $color-primary;

    margin: $margin;

    overflow: hidden;

    p, h2, h3 {
        padding-left: 1rem;
    }
}