body {
    color: white;
    font-family: 'Lato', sans-serif;
    font-size: 2rem;
}

h1, h2, h3, h4 {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
}

address {
    a {
        color: white;
    
        &.tel::before {
            font-family: 'Material Icons';
            content: 'call ';
        }
    
        &.mail::before {
            font-family: 'Material Icons';
            content: 'email ';
        }
        
        &:hover {
            background-color: white;
            color: black;
        }
    }
}

