body {
    color: $color-tertiary;
    font-family: 'Lato', sans-serif;
    font-size: 1.2rem;
    letter-spacing: .25rem;
}

h1, h2, h3, h4 {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
}

h1, h2 {
    background-color: $color-primary;
    color: $color-secondary;
}

h1 {
    margin-top: 0;
    vertical-align: bottom;
}

address {
    a {
        color: $color-tertiary;
        font-style: normal;
    
        &.tel::before {
            font-family: 'Material Icons';
            content: 'call ';
        }
    
        &.mail::before {
            font-family: 'Material Icons';
            content: 'email ';
        }
        
        &:hover {
            background-color: $color-primary;
            color: $color-secondary;
        }
    }
}

ul {
    list-style-type: disc;
    h4 {
        margin-bottom: 0;
    }
}

@media screen and (min-width: 1024px) {
    body {
        font-size: 1.4rem;
    }
  }

