body {
    color: $color-primary;
    font-family: 'Lato', sans-serif;
    font-size: 2rem;
}

h1, h2, h3, h4 {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
}

h1, h2 {
    background-color: $color-primary;
    color: $color-secondary;
}

address {
    a {
        color: $color-primary;
    
        &.tel::before {
            font-family: 'Material Icons';
            content: 'call ';
        }
    
        &.mail::before {
            font-family: 'Material Icons';
            content: 'email ';
        }
        
        &:hover {
            background-color: $color-primary;
            color: $color-secondary;
        }
    }
}

ul {
    list-style-type: disc;
}

