
@import url('https://fonts.googleapis.com/css2?family=Lato:ital@0;1&family=Montserrat:wght@600&display=swap');

@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

@import 
    'vendor/normalize',
    'variables',
    'font',
    'template',
    'composant';